<section id="home-slider">
  <div class="container">
    <div class="main-slider">
      <div class="slide-text">
        <h1>單身男女唯一廚房救星</h1>
        <p>一個人下廚吃飯也可以很簡單，料理絕對讓你暖心又舒心，從採買食材、準備份量、食譜到熱量，都交給我們來煩惱！</p>
        <%= link_to "免費註冊會員", new_user_registration_path, class: "btn btn-common" %>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center padding">
        <div class="single-service">
          <i class="fa fa-cutlery fa-5x"> </i>
        </div>
        <h2>一人辦桌最給力</h2>
        <p>一個人下廚總是怕每次準備份量過多？食材需要買很多？每道餐點都提供一人份食材、一人份食譜、一人份熱量。有朋友來，一次要出十二道菜也沒問題。</p>
      </div>
      <div class="col-sm-4 text-center padding">
        <div class="single-service">
          <i class="fa fa-shopping-cart fa-5x"> </i>
        </div>
        <h2>超商取貨最方便</h2>
        <p>提前下訂，隔天宅配到府。但下班就想要來一客，沒問題，巷口超商就買得到。</p>
      </div>
      <div class="col-sm-4 text-center padding">
        <div class="single-service">
          <i class="fa fa-thumbs-up fa-5x"> </i>
        </div>
        <h2>食材來源最安心</h2>
        <p>食安連環爆，到底有什麼可以吃？產銷履歷是最基本的要求，除此之外，品管人員將為你定期尋訪產地，分享台灣農業強大背後的脈絡故事。</p>
      </div>
    </div>
  </div>
</section>

<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">單身男女下廚唯一救星如何辦到的？</h1>
              <p>夥伴們在食品業及營養界工作多年，最常聽到大家對於食安的無奈感，對於一個人下廚的孤單感，對於吃不完的愧疚感，對於不會下廚的無措感，以及對於熱量的控制感，過去我們常常心有餘而力不足。Cook For Yourself團隊就是為這樣的需求而生，我們找來最挑惕品質的品保人員Maggie、最愛吃又最愛教人的大廚SAM、最注重熱量及食物多元性的營養師May、最熟悉物流及倉儲的專家Ken一次幫你解決以上煩惱。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="clients">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 padding">
        <div class="clients text-center">
          <p><img src="https://s3.amazonaws.com/cookforyourself/clients.png" class="img-responsive" alt=""></p>
            <h1 class="title">使用者見證</h1>
            <p>謝謝每一個使用者的回饋，每個回饋都讓我們更進步。 </p>
        </div>
          <div class="col-sm-6">
            <div class="media">
              <a href="#"><img src="https://s3.amazonaws.com/cookforyourself/figure.jpg"></a>
            </div>
            <div class="media-body">
              <blockquote>平常都很晚下班，通常就只能吃外食，但使用Cook For Yourself提前預定三天的份量，只要打開食材，照著食譜準備就跟預期的一樣簡單又好吃。</blockquote>
              <h3><a href="#">-新竹 網路業 李小姐</a></h3>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <a href="#"><img src="https://s3.amazonaws.com/cookforyourself/figure.jpg"></a>
            </div>
            <div class="media-body">
              <blockquote>因為自己也是從事食品業，對Cook For Yourself提供的食物品質感到非常驚豔，對於雙薪家庭也非常適合，幾個菜組合起來就是一個大餐了。</blockquote>
              <h3><a href="#">- 台北 食品業 張先生</a></h3>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <a href="#"><img src="https://s3.amazonaws.com/cookforyourself/figure.jpg"></a>
            </div>
            <div class="media-body">
              <blockquote>Cook For Yourself解決我每次煮飯都要煮一大鍋的煩惱，一次就煮一餐的量，既沒有隔夜菜的煩惱，隔天便當也可以是新鮮的菜色。</blockquote>
              <h3><a href="#">- 高雄 服務業 陳小姐</a></h3>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="media">
              <a href="#"><img src="https://s3.amazonaws.com/cookforyourself/figure.jpg"></a>
            </div>
            <div class="media-body">
              <blockquote>沒想到下廚沒這麽困難，只要跟著Sam大廚的步驟，就可以很好吃，女朋友已經來我家搭伙一個禮拜了。</blockquote>
              <h3><a href="#">- 台中 製造業 張先生</a></h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

<section id="page-breadcrumb">
  <div class="vertical-center sun">
    <div class="container">
      <div class="row">
        <div class="action">
          <div class="col-sm-12">
            <h1 class="title">現在就行動</h1>
              <p>根據市調顯示，有75%的上班族對外食已經感到厭倦且覺得不安心，但因為住的地方沒有廚房或者空間小，加上一個人煮也不太經濟實惠，所以才沒有自己煮。其中有50%的受訪者表示，如果有小份量的食材，且有人指導，則願意自己下廚。只要你想，下廚就在彈指之間。</p>
              <%= link_to "免費註冊會員", new_user_registration_path, class: "btn btn-common" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer">
  <div class="container">
    <div class="row">
    </div>
                
    <div class="col-sm-6">
      <div class="contact-info bottom padding">
        <h2>Contacts</h2>
        <address>
          E-mail: <a href="mailto:service@cookforyourself.com">service@cookforyourself.com</a> <br> 
          Phone: (02) 1234 5678 <br> 
          Fax: (02) 8765 4321 <br> 
        </address>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="contact-form bottom padding">
        <h2>Send a message</h2>
          <form id="main-contact-form" name="contact-form" method="post" action="sendemail.php">
            <div class="form-group">
              <input type="text" name="name" class="form-control" required="required" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="email" name="email" class="form-control" required="required" placeholder="Email Id">
            </div>
            <div class="form-group">
              <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Your text here"></textarea>
            </div>                        
            <div class="form-group">
              <input type="submit" name="submit" class="btn btn-submit" value="Submit">
            </div>
          </form>
      </div>
    </div>
  </div>
</footer>
