<div class="col-sm-12">
  <div class="copyright-text text-center">
    <p>&copy; Powered by Liz Huang. All Rights Reserved.</p>
    <p>Designed by <a target="_blank" href="http://www.themeum.com">Themeum</a></p>
  </div>
</div>